* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Impact, Arial Black, sans-serif;
}

.netflix-sre {
  display: flex;
  gap: 45px;
  perspective: 1000px;
}

.letter {
  position: relative;
  font-size: 230px;
  font-weight: 900;
  color: #e50914;
  line-height: 1;
  opacity: 0;
  transform: scale(0.15) translateZ(-800px);
  animation: netflixIn 1.4s ease-out forwards;
  animation-delay: var(--delay);
  text-shadow:
    0 0 15px #e50914,
    0 0 45px #e50914,
    0 0 100px #ff0000;
}

.letter::before {
  content: "";
  position: absolute;
  inset: -200px -80px;
  background: repeating-linear-gradient(
    90deg,
    rgba(229, 9, 20, 0) 0px,
    rgba(229, 9, 20, 0) 10px,
    rgba(229, 9, 20, .8) 11px,
    rgba(229, 9, 20, .8) 14px
  );
  opacity: 0;
  filter: blur(3px);
  z-index: -1;
  animation: redLines 1.4s ease-out forwards;
  animation-delay: var(--delay);
}

.letter::after {
  content: "";
  position: absolute;
  inset: -80px -40px;
  background: radial-gradient(circle, rgba(229,9,20,.7), transparent 65%);
  opacity: 0;
  z-index: -2;
  animation: glowPulse 1.4s ease-out forwards;
  animation-delay: var(--delay);
}

@keyframes netflixIn {
  0% {
    opacity: 0;
    transform: scale(0.08) translateZ(-900px);
    filter: blur(25px);
  }

  45% {
    opacity: 1;
    transform: scale(1.35) translateZ(80px);
    filter: blur(0);
  }

  70% {
    transform: scale(0.95) translateZ(0);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
}

@keyframes redLines {
  0% {
    opacity: 0;
    transform: scaleX(0.1) translateY(180px);
  }

  35% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scaleX(1.8) translateY(-80px);
  }
}

@keyframes glowPulse {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  45% {
    opacity: 1;
    transform: scale(1.4);
  }

  100% {
    opacity: 0.4;
    transform: scale(1);
  }
}
